#board {
  margin: 0;
  padding: 0;
}

.square {
  margin: 0;
  padding: 0;
  border: 1px black solid;
  width: 48px;
  height: 48px;
  float: left;
/*  background-color: #ffee55 */
  background-color: #55ee55
}

.nextrow {
  float: none;
}

.stone {
    width: 50px;
    height: 50px;
/*    font-size: 50px; */
    text-align: center;
    color: #ffffff;
    position: absolute;
}

.white {
      background-image: url('white/5.png');
}

.black {
    background-image: url('black/5.png');
}

.empty {
    background-image: url('');
}

.b6 {
    background-image: url('black/6.png');
}

.b4 {
    background-image: url('black/4.png');
}

.b46 {
    background-image: url('black/46.png');
}


.w6 {
    background-image: url('white/6.png');
}

.w4 {
    background-image: url('white/4.png');
}

.w46 {
    background-image: url('white/46.png');
}

.aqua {
    background-image: url('aqua.png');
}

.clickme {
  border: 1px solid black;
  display: inline-block;
  font-family: Helvetica,Arial,sans-serif;
  font-weight: bold;
  background-color: #000000;
  color: #ffffff;
}

